{% liquid

  assign blocks = section.blocks

  case section.blocks.size
  when 1
  assign column = 'col-lg-12 col-md-12 col-sm-12'
  when 2
  assign column = 'col-lg-6 col-md-6 col-sm-6'
  when 3
  assign column = 'col-lg-4 col-md-4 col-sm-6'
  when 4
  assign column = 'col-lg-3 col-md-3 col-sm-6'
  else 
  assign column = 'col-12'
  endcase

%}
{%  style  %} 
  #footer{{ section.id }} .footer{
    background-color: {{ section.settings.footer_bg_color }};
  }
{% endstyle %}

<footer class="footer-section" id="footer{{ section.id }}">
  <div class="footer">
    <div class="container">
      <div class="row">
        {% for block in blocks %}
          {% case block.type %}
            {% when 'menu' %}
              <div class="{{ column }}">
                <h4>{{ block.settings.title }}</h4>
                <div class="footer-links">
                  <ul>
                    {% for link in block.settings.menu.links %}
                      <li>
                        <a href="{{ link.url }}">{{ link.title |  escape }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% when 'info' %}
              
              <div class="{{ column }}">
                <h4>{{ block.settings.info-title }}</h4>
                {{ block.settings.rte }}
              </div>
            {% when 'image' %}
              <div class="{{ column }}">
                {% if block.settings.img_url != blank %}
                <a href="{{ block.settings.img_url }}">
                  <img class="footer-img" src="{{ block.settings.image |  image_url:  width: 300 }}" alt="">
                </a>
                {% endif %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <hr>
      {{ section.settings.btm_footer_text }}
    </div>
  </div>
</footer>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "Footer Settings"
      },
      {
        "type": "color",
        "id": "footer_bg_color",
        "label": "Footer Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "header",
        "content": "Bottom Text"
      },
      {
        "type": "richtext",
        "id": "btm_footer_text",
        "label": "Footer bottom text",
        "default": "<p>Lorem ipsum dolor sit amet.</p>"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Footer Menu",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu Title",
            "default": "Menu title"
          }, {
            "type": "link_list",
            "id": "menu",
            "label": "Footer menu"

          }
        ]
      }, {
        "type": "info",
        "name": "info",
        "limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "info-title",
            "label": "Info title",
            "default": "Info Title"
          },
          {
            "type": "richtext",
            "id": "rte",
            "label": "Info"
          }
        ]
      }, {
        "type": "image",
        "name": "Image",
        "limit": 1,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, {
            "type": "url",
            "id": "img_url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer"
      }
    ]
  }

{% endschema %}