{% liquid
  assign position = section.settings.position
  assign image = section.settings.image
  assign blocks = section.blocks
%}

<section class="image-with-text-section">
  <div class="container">
    <div class="row">
      {% capture image_position %}
        <div class="col-md-6">
          {% if image != nil %}
            <img
              src="{{ image |  image_url: width:800 }}"
              width="100%"
              alt="">
          {% else %}
            {{ 'image' | placeholder_svg_tag }}
          {% endif %}
        </div>
      {% endcapture %}

      {% if position == 'left' %}
      {{ image_position }}
      {% endif %}
      <div class="col-md-6">
        {% for block in blocks %}
          {% case block.type %}
            {% when 'title' %}
              <h1>{{ block.settings.title }}</h1>
            {% when 'description' %}
              <p>
                {{ block.settings.description }}
              </p>
            {% when 'action' %}
              <a class="btn btn-primary" href="{{ block.settings.btnUrl }}">{{ block.settings.btnLabel }}</a>
          {% endcase %}
        {% endfor %}
      </div>
      {% if position == 'right' %}
      {{ image_position }}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Image with text",
    "settings": [
      {
        "type": "select",
        "id": "position",
        "label": "Position",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          }, {
            "value": "right",
            "label": "Right"
          }
        ]
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "main_title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "This is main Title"
          }
        ]
      }, {
        "type": "description",
        "name": "Description",
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }, {
        "type": "action",
        "name": "Action",
        "settings": [
          {
            "type": "text",
            "id": "btnLabel",
            "label": "Button Label",
            "default": "See More"
          }, {
            "type": "url",
            "id": "btnUrl",
            "label": "Button Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}