<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    {% if section.blocks.size > 1 %}
      {% for block in section.blocks %}
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="{{ forloop.index0 }}"
          {% if forloop.index == 1 %}
          class="active"
          aria-current="true"
          aria-label="Slide {{ forloop.index }}"
          {% else %}
          aria-current="false"
          aria-label="Slide {{ forloop.index }}"
          {% endif %}></button>
      {% endfor %}
    {% endif %}
  </div>
  <div class="carousel-inner">
    {% for block in section.blocks %}
      <div class="carousel-item {% if forloop.index == 1 %} active {% endif %}">
        {% if block.settings.slider_img != nil %}
        <img
          src="{{ block.settings.slider_img | image_url: width: 1200 }}"
          class="d-block w-100 "
          style="height: 60vh; object-fit: cover;"
          alt="{{ block.settings.slider_img.alt | escape }}">
        {% endif %}
      </div>
    {% endfor %}
  </div>
  

  {% if section.blocks.size > 1 %}
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}


</div>

{% schema %}
  {
    "name": "Slider",
    "settings": [],
    "blocks": [
      {
        "type": "Slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "slider_img",
            "label": "Slider Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slider Show",
        "category": "Slider"
      }
    ]
  }
{% endschema %}